body{
  &.divDebug{
    *{
      border:1px solid #57B64F;
      background-color:rgba(87,182,79,0.3);
      opacity: 1 !important;
    }
  }
  &.size{
    &:after{
      position:fixed;
      bottom:0px;
      left:0px;
      background-color:$brand-primary;
      padding:8px;
      color:#fff;
      font-weight:bold;
      opacity:0.5;
      border:2px solid #fff;
      font-size:25px;
      @media screen and (max-width: $screen-sm-min - 1){ content:"XS"; }
      @media screen and (min-width: $screen-sm-min){     content:"SM"; }
      @media screen and (min-width: $screen-md-min){     content:"MD"; }
      @media screen and (min-width: $screen-lg-min){     content:"LG"; }
    }
  }
}
